{% load i18n %}
<p>
    {% trans 'Hello' %} {{ name }},
</p>
<p>
    {% if event == 'submitted' %}
        {% trans 'A sensitive operation has been submitted for approval, please handle it in the approval center' %}
    {% elif event == 'approved' %}
        {% trans 'Your approval request has been approved, please retry the original operation with the token within the validity period' %}
    {% else %}
        {% trans 'Your approval request has been rejected' %}
    {% endif %}
</p>
<p>
    <b>{% trans 'Module' %}:</b> {{ module }}<br>
    <b>{% trans 'Request path' %}:</b> {{ method }} {{ path }}<br>
    <b>{% trans 'Approval No.' %}:</b> {{ approval_no }}<br>
    {% if reason %}
        <b>{% trans 'Reason' %}:</b> {{ reason }}<br>
    {% endif %}
    <b>{% trans 'Time' %}:</b> {{ time }}
</p>
